# Import Libraries

In [2]:
import pandas as pd
import os

# Import Dataset

In [3]:
df = pd.read_csv('/Users/stephenhelvig/Library/CloudStorage/OneDrive-Personal/Data Analytics/DataCo Supply Chain Geospatial Dataset/Original Data/DataCoSupplyChainDatasetRefined.csv')

# Exploring and Understanding the Dataset

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 58 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   type                         180519 non-null  object
 1   days_for_shipping_real       180519 non-null  int64
 2   days_for_shipment_scheduled  180519 non-null  int64
 3   benefit_per_order            180519 non-null  float64
 4   sales_per_customer           180519 non-null  float64
 5   delivery_status              180519 non-null  object
 6   late_delivery_risk           180519 non-null  int64
 7   category_id                  180519 non-null  int64
 8   category_name                180519 non-null  object
 9   customer_city                180519 non-null  object
 10  customer_country             180519 non-null  object
 11  customer_email               180519 non-null  object
 12  customer_fname               180519 non-null  object
 13  customer_id                  180519 non-null  int64
 14  customer_lname               180511 non-null  object
 15  customer_password            180519 non-null  object
 16  customer_segment             180519 non-null  object
 17  customer_state               180519 non-null  object
 18  customer_street              180519 non-null  object
 19  customer_zipcode             180516 non-null  float64
 20  department_id                180519 non-null  int64
 21  department_name              180519 non-null  object
 22  latitude_src                 180519 non-null  float64
 23  longitude_src                180519 non-null  float64
 24  market                       180519 non-null  object
 25  order_city                   180519 non-null  object
 26  order_country                180519 non-null  object
 27  order_customer_id            180519 non-null  int64
 28  order_date_dateorders        180519 non-null  object
 29  order_id                     180519 non-null  int64
 30  order_item_cardprod_id       180519 non-null  int64
 31  order_item_discount          180519 non-null  float64
 32  order_item_discount_rate     180519 non-null  float64
 33  order_item_id                180519 non-null  int64
 34  order_item_product_price     180519 non-null  float64
 35  order_item_profit_ratio      180519 non-null  float64
 36  order_item_quantity          180519 non-null  int64
 37  sales                        180519 non-null  float64
 38  order_item_total             180519 non-null  float64
 39  order_profit_per_order       180519 non-null  float64
 40  order_region                 180519 non-null  object
 41  order_state                  180519 non-null  object
 42  order_status                 180519 non-null  object
 43  order_zipcode                24840 non-null   float64
 44  product_card_id              180519 non-null  int64
 45  product_category_id          180519 non-null  int64
 46  product_image                180519 non-null  object
 47  product_name                 180519 non-null  object
 48  product_price                180519 non-null  float64
 49  product_status               180519 non-null  int64
 50  shipping_date_dateorders     180519 non-null  object
 51  shipping_mode                180519 non-null  object
 52  order_country_en             180519 non-null  object
 53  order_state_en               180519 non-null  object
 54  order_city_en                180519 non-null  object
 55  latitude_dest                180519 non-null  float64
 56  longitude_dest               180519 non-null  float64
 57  address_dest                 180519 non-null  object
dtypes: float64(16), int64(14), object(28)
memory usage: 79.9+ MB

In [15]:
print(f"Date range: {df['order_date_dateorders'].min()} to {df['order_date_dateorders'].max()}")

Date range: 1/1/2015 0:00 to 9/9/2017 9:50

In [16]:
df.head()

,type,days_for_shipping_real,days_for_shipment_scheduled,benefit_per_order,sales_per_customer,delivery_status,late_delivery_risk,category_id,category_name,customer_city,...,product_price,product_status,shipping_date_dateorders,shipping_mode,order_country_en,order_state_en,order_city_en,latitude_dest,longitude_dest,address_dest
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,327.75,0,2/3/2018 22:56,Standard Class,Indonesia,West Java,Bekasi,-6.238270,106.975573,"Bekasi, West Java, Indonesia"
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,327.75,0,1/18/2018 12:27,Standard Class,India,Rajasthan,Bikaner,28.022935,73.311916,"Bikaner, Rajasthan, India"
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,327.75,0,1/17/2018 12:06,Standard Class,India,Rajasthan,Bikaner,28.022935,73.311916,"Bikaner, Rajasthan, India"
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,327.75,0,1/16/2018 11:45,Standard Class,Australia,Queensland,Townsville,-19.258964,146.816948,"Townsville City QLD 4810, Australia"
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,327.75,0,1/15/2018 11:24,Standard Class,Australia,Queensland,Townsville,-19.258964,146.816948,"Townsville City QLD 4810, Australia"

In [17]:
print(df['customer_segment'].value_counts())
print(df['customer_segment'].value_counts(normalize=True) * 100)

customer_segment
Consumer       93504
Corporate      54789
Home Office    32226
Name: count, dtype: int64
customer_segment
Consumer       51.797318
Corporate      30.350822
Home Office    17.851860
Name: proportion, dtype: float64

# Data Cleaning

In [23]:
# changing date columns to datetime

df['order_date_dateorders'] = pd.to_datetime(df['order_date_dateorders'], format='%m/%d/%Y %H:%M')
df['shipping_date_dateorders'] = pd.to_datetime(df['shipping_date_dateorders'], format='%m/%d/%Y %H:%M')

In [24]:
print(df['order_date_dateorders'].dtype)
print(df['order_date_dateorders'].head())

datetime64[ns]
0   2018-01-31 22:56:00
1   2018-01-13 12:27:00
2   2018-01-13 12:06:00
3   2018-01-13 11:45:00
4   2018-01-13 11:24:00
Name: order_date_dateorders, dtype: datetime64[ns]

In [25]:
print(f"Min date: {df['order_date_dateorders'].min()}")
print(f"Max date: {df['order_date_dateorders'].max()}")

Min date: 2015-01-01 00:00:00
Max date: 2018-01-31 23:38:00

In [26]:
# dropping order_zipcode from the dataset (not really needed). 

df = df.drop(columns=['order_zipcode'])

In [27]:
# Check for exact duplicate rows
print(f"Exact duplicate rows: {df.duplicated().sum()}")

# Check if order_item_id is unique
print(f"Total rows: {len(df)}")
print(f"Unique order_item_id: {df['order_item_id'].nunique()}")

# Understand data structure
print(f"Unique order_id: {df['order_id'].nunique()}")
print(f"Unique customer_id: {df['customer_id'].nunique()}")

Exact duplicate rows: 0
Total rows: 180519
Unique order_item_id: 180519
Unique order_id: 65752
Unique customer_id: 20652

# Descriptive Statistics

In [35]:
df.describe()

,days_for_shipping_real,days_for_shipment_scheduled,benefit_per_order,sales_per_customer,late_delivery_risk,category_id,customer_id,customer_zipcode,department_id,latitude_src,...,sales,order_item_total,order_profit_per_order,product_card_id,product_category_id,product_price,product_status,shipping_date_dateorders,latitude_dest,longitude_dest
count,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180516.000000,180519.000000,180519.000000,...,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.0,180519,180519.000000,180519.000000
mean,3.497654,2.931847,21.974989,183.107609,0.548291,31.851451,6691.379495,35921.126914,5.443460,29.719955,...,203.772096,183.107609,21.974989,692.509764,31.851451,141.232550,0.0,2016-06-16 05:45:23.202433024,23.917651,-9.738873
min,0.000000,0.000000,-4274.979980,7.490000,0.000000,2.000000,1.000000,603.000000,2.000000,-33.937553,...,9.990000,7.490000,-4274.979980,19.000000,2.000000,9.990000,0.0,2015-01-03 00:00:00,-53.163384,-123.375455
25%,2.000000,2.000000,7.000000,104.379997,0.000000,18.000000,3258.500000,725.000000,4.000000,18.265432,...,119.980003,104.379997,7.000000,403.000000,18.000000,50.000000,0.0,2015-09-25 06:59:00,13.301173,-80.443778
50%,3.000000,4.000000,31.520000,163.990005,1.000000,29.000000,6457.000000,19380.000000,5.000000,33.144863,...,199.919998,163.990005,31.520000,627.000000,29.000000,59.990002,0.0,2016-06-15 08:32:00,30.332184,-0.375635
75%,5.000000,4.000000,64.800003,247.399994,1.000000,45.000000,9779.000000,78207.000000,7.000000,39.279617,...,299.950012,247.399994,64.800003,1004.000000,45.000000,199.990005,0.0,2017-03-04 21:29:00,43.588896,28.978359
max,6.000000,4.000000,911.799988,1939.989990,1.000000,76.000000,20757.000000,99205.000000,12.000000,48.781933,...,1999.989990,1939.989990,911.799988,1363.000000,76.000000,1999.989990,0.0,2018-02-06 22:14:00,64.566176,178.022793
std,1.623722,1.374449,104.433526,120.043670,0.497664,15.640064,4162.918106,37542.461122,1.629246,9.813646,...,132.273077,120.043670,104.433526,336.446807,15.640064,139.732492,0.0,NaN,25.182904,77.407271

In [36]:
important_vars = [
    'sales',
    'benefit_per_order',
    'order_item_product_price',
    'order_profit_per_order',
    'days_for_shipping_real',
    'days_for_shipment_scheduled',
    'order_item_quantity',
    'order_item_discount_rate',
    'order_item_profit_ratio'
]

df[important_vars].describe()

,sales,benefit_per_order,order_item_product_price,order_profit_per_order,days_for_shipping_real,days_for_shipment_scheduled,order_item_quantity,order_item_discount_rate,order_item_profit_ratio
count,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000
mean,203.772096,21.974989,141.232550,21.974989,3.497654,2.931847,2.127638,0.101668,0.120647
std,132.273077,104.433526,139.732492,104.433526,1.623722,1.374449,1.453451,0.070415,0.466796
min,9.990000,-4274.979980,9.990000,-4274.979980,0.000000,0.000000,1.000000,0.000000,-2.750000
25%,119.980003,7.000000,50.000000,7.000000,2.000000,2.000000,1.000000,0.040000,0.080000
50%,199.919998,31.520000,59.990002,31.520000,3.000000,4.000000,1.000000,0.100000,0.270000
75%,299.950012,64.800003,199.990005,64.800003,5.000000,4.000000,3.000000,0.160000,0.360000
max,1999.989990,911.799988,1999.989990,911.799988,6.000000,4.000000,5.000000,0.250000,0.500000

In [44]:
# further investigation into the negative profits

negative_profit = df[df['benefit_per_order'] < 0]
print(f"Orders with negative profit: {len(negative_profit)} ({len(negative_profit)/len(df)*100:.2f}%)")

# Look at a few examples
negative_profit[['sales', 'benefit_per_order', 'order_item_discount_rate', 'customer_segment', 'market', 'shipping_mode']].head(15)

Orders with negative profit: 33784 (18.71%)

,sales,benefit_per_order,order_item_discount_rate,customer_segment,market,shipping_mode
1,327.750000,-249.089996,0.05,Consumer,Pacific Asia,Standard Class
2,327.750000,-247.779999,0.06,Consumer,Pacific Asia,Standard Class
15,327.750000,-259.579987,0.01,Corporate,Pacific Asia,First Class
16,327.750000,-246.360001,0.02,Corporate,Pacific Asia,Second Class
28,327.750000,-17.139999,0.17,Corporate,Pacific Asia,Standard Class
33,327.750000,-97.339996,0.01,Consumer,Pacific Asia,First Class
34,327.750000,-425.579987,0.02,Consumer,Pacific Asia,First Class
48,119.980003,-30.750000,0.04,Home Office,Pacific Asia,Second Class
49,79.980003,-122.730003,0.01,Home Office,Pacific Asia,Second Class
53,100.000000,-21.750000,0.13,Home Office,Pacific Asia,Second Class
59,299.970001,-184.779999,0.12,Home Office,Africa,Second Class
61,65.970001,-3.650000,0.03,Home Office,Africa,Second Class
75,179.970001,-285.070007,0.01,Home Office,LATAM,Second Class
79,179.970001,-26.690001,0.09,Home Office,LATAM,Second Class
80,179.970001,-117.330002,0.15,Home Office,LATAM,Second Class

In [45]:
# Are these columns identical?
(df['benefit_per_order'] == df['order_profit_per_order']).all()

np.True_

In [47]:
# Drop redundant order_profit_per_order
df = df.drop(columns=['order_profit_per_order'])

In [49]:
# update important_vars

important_vars = [
    'sales',
    'benefit_per_order',
    'order_item_product_price',
    'days_for_shipping_real',
    'days_for_shipment_scheduled',
    'order_item_quantity',
    'order_item_discount_rate',
    'order_item_profit_ratio'
]

In [52]:
df[important_vars].describe()

,sales,benefit_per_order,order_item_product_price,days_for_shipping_real,days_for_shipment_scheduled,order_item_quantity,order_item_discount_rate,order_item_profit_ratio
count,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000
mean,203.772096,21.974989,141.232550,3.497654,2.931847,2.127638,0.101668,0.120647
std,132.273077,104.433526,139.732492,1.623722,1.374449,1.453451,0.070415,0.466796
min,9.990000,-4274.979980,9.990000,0.000000,0.000000,1.000000,0.000000,-2.750000
25%,119.980003,7.000000,50.000000,2.000000,2.000000,1.000000,0.040000,0.080000
50%,199.919998,31.520000,59.990002,3.000000,4.000000,1.000000,0.100000,0.270000
75%,299.950012,64.800003,199.990005,5.000000,4.000000,3.000000,0.160000,0.360000
max,1999.989990,911.799988,1999.989990,6.000000,4.000000,5.000000,0.250000,0.500000

In [56]:
df[important_vars].describe().T.to_excel('descriptive_stats.xlsx', float_format='%.2f')

In [50]:
# Compare negative vs positive profit orders

print("NEGATIVE PROFIT ORDERS:")
print(negative_profit['delivery_status'].value_counts())
print("\nALL ORDERS:")
print(df['delivery_status'].value_counts())

NEGATIVE PROFIT ORDERS:
delivery_status
Late delivery        18553
Advance shipping      7772
Shipping on time      5970
Shipping canceled     1489
Name: count, dtype: int64

ALL ORDERS:
delivery_status
Late delivery        98977
Advance shipping     41592
Shipping on time     32196
Shipping canceled     7754
Name: count, dtype: int64

In [51]:
# Calculate percentages for comparison

print("NEGATIVE PROFIT ORDERS (%):")
print((negative_profit['delivery_status'].value_counts() / len(negative_profit) * 100).round(2))

print("\nALL ORDERS (%):")
print((df['delivery_status'].value_counts() / len(df) * 100).round(2))

NEGATIVE PROFIT ORDERS (%):
delivery_status
Late delivery        54.92
Advance shipping     23.00
Shipping on time     17.67
Shipping canceled     4.41
Name: count, dtype: float64

ALL ORDERS (%):
delivery_status
Late delivery        54.83
Advance shipping     23.04
Shipping on time     17.84
Shipping canceled     4.30
Name: count, dtype: float64

In [59]:
# frequency counts for qualitative variables

categorical_vars = [
    'customer_segment',
    'market', 
    'order_status',
    'category_name',
    'delivery_status',
    'shipping_mode',
    'order_region'
]

for var in categorical_vars:
    print(f"\n{'='*60}")
    print(f"{var.upper()}:")
    print(f"{'='*60}")
    print(df[var].value_counts())
    print(f"\nPercentages:")
    print(df[var].value_counts(normalize=True) * 100)

============================================================
CUSTOMER_SEGMENT:
============================================================
customer_segment
Consumer       93504
Corporate      54789
Home Office    32226
Name: count, dtype: int64

Percentages:
customer_segment
Consumer       51.797318
Corporate      30.350822
Home Office    17.851860
Name: proportion, dtype: float64

============================================================
MARKET:
============================================================
market
LATAM           51594
Europe          50252
Pacific Asia    41260
USCA            25799
Africa          11614
Name: count, dtype: int64

Percentages:
market
LATAM           28.580925
Europe          27.837513
Pacific Asia    22.856320
USCA            14.291570
Africa           6.433672
Name: proportion, dtype: float64

============================================================
ORDER_STATUS:
============================================================
order_status
COMPLETE           59491
PENDING_PAYMENT    39832
PROCESSING         21902
PENDING            20227
CLOSED             19616
ON_HOLD             9804
SUSPECTED_FRAUD     4062
CANCELED            3692
PAYMENT_REVIEW      1893
Name: count, dtype: int64

Percentages:
order_status
COMPLETE           32.955534
PENDING_PAYMENT    22.065267
PROCESSING         12.132795
PENDING            11.204915
CLOSED             10.866446
ON_HOLD             5.431007
SUSPECTED_FRAUD     2.250179
CANCELED            2.045214
PAYMENT_REVIEW      1.048643
Name: proportion, dtype: float64

============================================================
CATEGORY_NAME:
============================================================
category_name
Cleats                  24551
Men's Footwear          22246
Women's Apparel         21035
Indoor/Outdoor Games    19298
Fishing                 17325
Water Sports            15540
Camping & Hiking        13729
Cardio Equipment        12487
Shop By Sport           10984
Electronics              3156
Accessories              1780
Golf Balls               1475
Girls' Apparel           1201
Golf Gloves              1070
Trade-In                  974
Video Games               838
Children's Clothing       652
Women's Clothing          650
Baseball & Softball       632
Hockey                    614
Cameras                   592
Toys                      529
Golf Shoes                524
Pet Supplies              492
Garden                    484
Crafts                    484
DVDs                      483
Computers                 442
Golf Apparel              441
Hunting & Shooting        440
Music                     434
Consumer Electronics      431
Boxing & MMA              423
Books                     405
Kids' Golf Clubs          384
Health and Beauty         362
Sporting Goods            357
Lacrosse                  343
Tennis & Racquet          328
Fitness Accessories       309
Men's Golf Clubs          283
CDs                       271
Men's Clothing            208
Baby                      207
Women's Golf Clubs        181
Soccer                    138
Strength Training         111
As Seen on  TV!            68
Basketball                 67
Golf Bags & Carts          61
Name: count, dtype: int64

Percentages:
category_name
Cleats                  13.600230
Men's Footwear          12.323357
Women's Apparel         11.652513
Indoor/Outdoor Games    10.690287
Fishing                  9.597328
Water Sports             8.608512
Camping & Hiking         7.605294
Cardio Equipment         6.917277
Shop By Sport            6.084678
Electronics              1.748292
Accessories              0.986046
Golf Balls               0.817089
Girls' Apparel           0.665304
Golf Gloves              0.592735
Trade-In                 0.539555
Video Games              0.464217
Children's Clothing      0.361181
Women's Clothing         0.360073
Baseball & Softball      0.350102
Hockey                   0.340130
Cameras                  0.327943
Toys                     0.293044
Golf Shoes               0.290274
Pet Supplies             0.272547
Garden                   0.268116
Crafts                   0.268116
DVDs                     0.267562
Computers                0.244850
Golf Apparel             0.244296
Hunting & Shooting       0.243742
Music                    0.240418
Consumer Electronics     0.238756
Boxing & MMA             0.234324
Books                    0.224353
Kids' Golf Clubs         0.212720
Health and Beauty        0.200533
Sporting Goods           0.197763
Lacrosse                 0.190008
Tennis & Racquet         0.181698
Fitness Accessories      0.171173
Men's Golf Clubs         0.156770
CDs                      0.150123
Men's Clothing           0.115223
Baby                     0.114669
Women's Golf Clubs       0.100266
Soccer                   0.076446
Strength Training        0.061489
As Seen on  TV!          0.037669
Basketball               0.037115
Golf Bags & Carts        0.033791
Name: proportion, dtype: float64

============================================================
DELIVERY_STATUS:
============================================================
delivery_status
Late delivery        98977
Advance shipping     41592
Shipping on time     32196
Shipping canceled     7754
Name: count, dtype: int64

Percentages:
delivery_status
Late delivery        54.829132
Advance shipping     23.040234
Shipping on time     17.835242
Shipping canceled     4.295393
Name: proportion, dtype: float64

============================================================
SHIPPING_MODE:
============================================================
shipping_mode
Standard Class    107752
Second Class       35216
First Class        27814
Same Day            9737
Name: count, dtype: int64

Percentages:
shipping_mode
Standard Class    59.690116
Second Class      19.508196
First Class       15.407796
Same Day           5.393892
Name: proportion, dtype: float64

============================================================
ORDER_REGION:
============================================================
order_region
Central America    28341
Western Europe     27109
South America      14935
Oceania            10148
Northern Europe     9792
Southeast Asia      9539
Southern Europe     9431
Caribbean           8318
West of USA         7993
South Asia          7731
Eastern Asia        7280
East of USA         6915
West Asia           6009
US Center           5887
South of  USA       4045
Eastern Europe      3920
West Africa         3696
North Africa        3232
East Africa         1852
Central Africa      1677
Southern Africa     1157
Canada               959
Central Asia         553
Name: count, dtype: int64

Percentages:
order_region
Central America    15.699732
Western Europe     15.017256
South America       8.273367
Oceania             5.621569
Northern Europe     5.424360
Southeast Asia      5.284208
Southern Europe     5.224381
Caribbean           4.607825
West of USA         4.427789
South Asia          4.282652
Eastern Asia        4.032816
East of USA         3.830622
West Asia           3.328735
US Center           3.261153
South of  USA       2.240761
Eastern Europe      2.171517
West Africa         2.047430
North Africa        1.790393
East Africa         1.025931
Central Africa      0.928988
Southern Africa     0.640930
Canada              0.531246
Central Asia        0.306339
Name: proportion, dtype: float64

In [60]:
# Export cleaned data

df.to_csv('/Users/stephenhelvig/Documents/Python Projects/DataCo Analysis/Data/Prepared Data/dataco_cleaned.csv', index=False)